@import 'tailwindcss';

@theme {
  --font-dm: var(--font-dm);
  --font-jost: var(--font-jost);

  --color-dark-100: #4d5053;
  --color-dark-200: #292f36;
  --color-gold-100: #d8a876;
  --color-gold-200: #c76904;
  --color-gold-300: #cda274;
  --color-light-100: #f9f9f9;
  --color-light-200: #f4f0ec;
  --color-grey-100: #e7e7e7;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 22px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

html,
body,
#app {
  height: 100%;
}

body {
  font-size: 22px;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
  color: var(--color-dark-100);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

svg {
  vertical-align: middle;
}

.container {
  @apply mx-auto !max-w-[calc(100%-32px)] md:!max-w-[calc(100%-80px)] xl:!max-w-[1240px];
}

@utility h1 {
  @apply font-dm text-[70px] leading-tight font-normal;
}

@utility h2 {
  @apply font-dm text-[60px] leading-tight font-normal;
}

@utility h3 {
  @apply font-dm text-[55px] leading-tight font-normal;
}

@utility h4 {
  @apply font-dm text-[50px] leading-tight font-normal;
}

@utility h5 {
  @apply font-dm text-[25px] leading-tight font-normal;
}

.h6 {
  @apply font-dm text-[22px] leading-normal font-normal;
}

@utility h7 {
  @apply font-dm text-xl leading-tight font-normal;
}

@utility text-accent-lg {
  @apply font-dm text-[45px] leading-tight font-normal;
}

@utility text-accent {
  @apply font-dm text-[35px] leading-tight font-normal;
}

@utility paragraph {
  @apply font-jost text-[28px] leading-normal font-normal;
}

.text-number {
  @apply font-dm text-[85px] leading-tight font-normal;
}

.text-number-big {
  @apply font-dm text-[250px] leading-tight font-normal;
}

.text-number-small {
  @apply font-jost text-[15px] leading-normal font-medium;
}

.text-small {
  @apply font-jost text-base leading-normal font-normal;
}

.text-medium-bold {
  @apply font-jost text-2xl leading-normal font-bold;
}

.button {
  @apply font-jost text-lg leading-tight font-medium;
}

.button-semmibold {
  @apply font-jost text-lg leading-tight font-semibold;
}

.button-small {
  @apply font-jost text-[16px] leading-normal font-medium;
}

.link {
  @apply font-jost text-xl leading-tight font-medium;
}

.link-regular {
  @apply font-jost text-xl leading-normal font-normal;
}

.input {
  @apply font-jost text-[30px] leading-normal font-normal;
}

.input-medium {
  @apply font-jost text-[22px] leading-normal font-medium;
}

.clip-promo-section {
  clip-path: path('M 0 0 L 215 0 A 420 420 0 0 1 365 350 L 365 2000 L 3000 2000 L 3000 0 Z');
}
